Header set Access-Control-Allow-Origin "*"

Header set Timeout "600"

RewriteEngine on
# The requested filename "/index" is not a directory
RewriteCond %{REQUEST_FILENAME} !-d
# There is a file on the file system named as the request, with extension .php
RewriteCond %{REQUEST_FILENAME}.php -f
# If all of the above is true, pretend that the ".php" file had been called
# by rewriting the request appending .php
RewriteRule ^(.*)$ $1.php

# Redirect URLs that start with /t{number}- (take them back to the old forum)
# For example, /t2148-dropeo-de-itens-by-_strong_ should redirect to
# https://worldofeditors.foroactivo.com/t2148-dropeo-de-itens-by-_strong_
RewriteCond %{REQUEST_URI} ^/t(\d+)-(.+)$
RewriteRule ^ https://worldofeditors.foroactivo.com/t%1-%2 [R=301,L]

LimitRequestBody 1073741824
