*{
    cursor: url("./img/cursor2.png"), default;
}
body{ 
    /*background-image: url("https://wow.zamimg.com/uploads/screenshots/normal/890024.jpg")!important;
    background-image: url("https://wow.zamimg.com/uploads/screenshots/normal/893472.jpg")!important;*/
    background-image: url("img/backlow.png")!important;
    padding: 4% 15%;    
    background-repeat: repeat !important; 
    background-position: center !important; 
    background-size: cover !important; 
}
input {
    background-color: white;
    border-radius: 4px;
    border: 0;
    padding: 4px;
    width: calc(100% - 8px);
    color: black;
}
button {
    background-color: rgb(170, 36, 9);
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    border: 0;
    cursor: url("./img/pointer2.png"), default;
}
h2{
    font-family: system-ui;
    color: #eff14c;
    display: inherit;
    text-align: center;
    padding: 16px;
    font-size: 1.9em;
    margin-bottom: 0px !important;
}
.container {
    padding: 21px !important;
    position: relative;
    background-image: url("img/menuu.png");
    background-repeat: round;
    min-height: 75vh;
    display: grid !important;
    grid-template-columns: 64.5% auto;
    grid-template-rows: 13% 35% 35% auto;
    column-gap: 2.2%;
    min-width: 850px;
}
.field {
    margin-bottom: 10px;
}
.divmapa input{
    background-color: unset !important;
}
.divmapa input:nth-child(2) {
    color: #97979b;
    text-transform: uppercase;
}
.divmapa input:nth-child(2)::file-selector-button {
    font-weight: bold;
    color: #eff14c;
    border: 0px;
    padding: 1em;
    background-image: url("img/btn.png");
    background-repeat: round;
    background-color: unset !important;
    text-transform: uppercase;
    border: 2.5px solid grey !important;
    border-radius: 4px !important;
}
.divmapa input:nth-child(2)::file-selector-button:hover {
    
    background-image: url("img/btnh.png");
    cursor: url("./img/pointer2.png"), default;
}




.divmapa {
    grid-row: 2 / 5 !important;
    /*background-color: red;*/
    padding: 10px 17px 10px 24px;
}
.divowner {
    grid-column: 2 / 3 !important;
    grid-row: 1 / 2 !important;
    /*background-color: red;
    /*padding: 10px;*/
    text-transform: uppercase;
    color: #b4b4b9;
    padding: 20px 15px 0px 10px;
}
.divname {
    grid-column: 2 / 3 !important;
    grid-row: 2 / 3 !important;
    /*background-color: rgb(0, 255, 85);
    /*padding: 10px;*/
    text-transform: uppercase;
    color: #b4b4b9;
    padding: 30px 15px 0px 10px;
}
.divowner input, .divname input{    
    width: 95% !important;
    margin-top: 10px;
}
.inputb{
    color: white;
    display: block;
    padding: 10px 6px;
    border-radius: 5px;
    border: 3px solid #605a56;
    background-color: unset !important;
}
.divmapa label:nth-child(1) {
    color: #b4b4b9;
    padding: 5px 0px;
    display: inline-table;
}
.divmapa label:nth-child(3) {
    color: #b4b4b9;
    margin-top: 16px;
    display: block;
    padding: 5px 0px;
    display: inline-table;    
}
select{
    background: #00000052;
    color: white;
    width: 100%;
    height: 62%;
}
.wcsc::-webkit-scrollbar {
    -webkit-appearance: none;
    width:17px;
}
.wcsc::-webkit-scrollbar-thumb {
    background-color: #073a7b;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: solid 1px #042147;
}
.wcsc::-webkit-scrollbar-track {
    background: #020202;
    border-radius: 4px;
    border: solid 2px #605a56;
    
}
select option{
    padding: 10px 6px;
}
select option:nth-child(odd) {
    background-color: #282828;
}
select option:nth-child(even) {
    background-color: #1a1a18;
}
select option:hover{
    background-color: #150c04;
}
select option:checked {
    background-color: #150c04;
    color: white;
    border: 2px solid gold;
    border-radius: 4px;

}
button{
    grid-column: 2 / 3;
    grid-row: 4 / 5 !important;
    top: calc(55% - 30px);
    display: inline;
    width: 200px;
    height: 45px;
    position: relative;
    left: calc(50% - 100px);
    background-image: url("img/disbtng.png");
    background-repeat: round;
    background-color: unset !important;
    text-transform: uppercase;
    color: white ;
    font-weight: bold !important;
    border: 2.5px solid grey !important;
    /*border-image: conic-gradient(#d3d2d2, #383838, #d3d2d2) 1 !important;
    border-image-width: 3px !important;*/
    cursor: inherit;
    pointer-events:none;

}
.buttonAct{
    background-image: url("img/btng.png");
    cursor: url("./img/pointer2.png"), default;
    pointer-events:inherit;
    color: #eff14c !important;
    
}
.buttonAct:hover{
    background-image: url("img/btngh.png");
}
.cooldown{
    color: cyan;
    font-size: 17px;
}

.DivRes{
    padding: 40px 15px 0px 15px;
    text-transform: uppercase;
    font-size: 15px;
}
.DivRes h4{
    color: gold;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    display: inline-block;
    margin-bottom: 15px;
}
.DivRes span{
    padding-top: 5px;
    display: inline-block;
}
.til{
    color: gold ;
}
.des{
    color: white;
}
.mssg{
    position: fixed;
    background-color: #000000cb;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    font-family: arial;   
}
.marco{
    border: 27px solid;
    border-image: url("img/marco.png");
    border-image-slice: 50;
    border-image-repeat: round;
    background: rgba(19, 17, 17, 0.644);
    display: block;
    border-radius: 29px;
    width: 40%;
    margin-top: 10%;
    color: white;
}
h3{
    font-family: system-ui;
    color: #eff14c;
    text-align: center;
    font-size: 1.5em;

}
.marco p{
    text-align: left;
    width: 75%;
    
}
.detalles{
    font-size: 1.1em;
}
.comandos{
    font-size: 0.9em;
     
    height: 60px;
    overflow-y: auto;
    padding: 8px;
    background: #02020262;
    border: 2px solid #5f5f5f;
    border-radius: 4px;
}
.comandos span{
    color: #1eaf5a;
}
.accept{
    display: inline-block;
    background-image: url("img/btn.png");
    background-repeat: round;
    color: #eff14c ;
    font-weight: bold ;
    border: 2.5px solid grey;
    /*border-image: conic-gradient(#d3d2d2, #383838, #d3d2d2) 1 !important;
    border-image-width: 3px !important;*/
    padding: 12px 40px;
    border-radius: 4px;
    cursor: url("./img/pointer2.png"), default;
}
.accept:hover{
    background-image: url("img/btnh.png"), default;
}
.subt{
    color: #eff14c;
}
.mssg img{
    top: 0;
    position: absolute;
    width: 5.5%;
}
img:nth-child(2) {
    left: 35%;
}
img:nth-child(3) {
    right:  35%;
}

.comandos a{
    /*text-decoration: none;*/
    color: #2978e0;
}

.backbtn{
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-decoration: none;

    display: inline-block;
    background-image: url("img/btn.png");
    background-repeat: round;
    color: #eff14c ;
    font-weight: bold ;
    border: 2.5px solid grey;
    /*border-image: conic-gradient(#d3d2d2, #383838, #d3d2d2) 1 !important;
    border-image-width: 3px !important;*/
    padding: 12px 40px;
    border-radius: 4px;
    cursor: url("./img/pointer2.png"), default;
}
.partidas{
    /*right: calc(16% - 200px);
    width: 900px;
    z-index: 1;*/
    height: 39vh;
    overflow-y:scroll;
    padding: 0px !important;
    border: 1px solid #5f5f5f;
}
table{
    border-spacing: 0;
    width: 100%;
    border-collapse: separate;
    
}
table tr {
    margin-bottom: 1px;
    display: table-row;
}

table td{
    padding: 10px 6px;
    border-left: 0px;
    max-width: 230px;
}
table tr:nth-child(odd) {
    background-color: #282828;
}
table tr:nth-child(even) {
    background-color: #1a1a18;
}
table tr:hover{
    background-color: rgb(6, 41, 105);
}
table tr:checked {
    background-color: #150c04;
    color: white;
    border: 2px solid gold;
    border-radius: 4px;

}
.cerrar{
    /*top: 10%;
    bottom: inherit !important;
    position: inherit !important;*/
    width: 150px;
    margin: 15px 0 5px 0;
}


.historial{
    right: 90px !important;
}
.historial svg {
    fill: #ac0e0e;
    width: 100%;
    height: 100%;
}
.hispar{
    display: none;
}

.hispar .marco{
    width: 60%;
}
.creada{
    display: none;
}
.subiendo{
    display: none;
}
.subiendo p{
    margin-bottom: 35px;
    width: 100%;
    text-align: center;
}
.progressbar{
    width: 75%;
    height: 35px;
    border: 3px solid #bdbdbd;
    border-radius: 4px;
    position: relative;
    text-align: left;
}
.progressbar div{
    background-image: url('img/pload.png');
    background-position: left;
    background-size: cover;
    height: 100%;
    border-right: 1px solid #3ae0fc;
}
.progressbar h4{
    position: absolute;
    top: calc(50% - 9px);
    margin: 0px;
    width: 100%;
    text-align: center;
    color: yellow;
    font-size: 1em;
}
.alert{
    display: none;
}
.version{
    color: white;
    position: fixed;
    top: 1.2%;
    margin: 0px;
    right: 0.7%;
    font-family: sans-serif;
    padding: 0px;
}
.buscador{
    width: 100%;
    padding: 0px;
    display: flex;
    margin: 5px 0px;
}
.buscador input{
    margin-right: auto;
}
.buscador a{
    background-image: url(img/btns.png);
    background-repeat: round;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 8px;
    width: 24px;
    display: inline-flex;
    margin-left: 5px;
    text-decoration: none;
    cursor: url("./img/pointer2.png"), default;
}
.buscador a:hover{
    background-image: url(img/btnsh.png);
}
.buscador a svg{
    width: 100%;
    height: 100%;
}













.chat{
    position: absolute;
    bottom: 7px;
    right: 15px;
    background-image: url("img/btns.png");
    background-repeat: round;
    background-color: unset ;
    border: 2px solid grey ;
    border-radius: 10px ;
    padding: 10px;
    width: 40px;
}
.chat:hover {    
    background-image: url("img/btnsh.png");
    cursor: url("./img/pointer2.png"), default;
}
.btn-disc{
    filter: invert(0.4) sepia(1) hue-rotate(19deg) saturate(1000%);
    width: 100%;
    
}
.chatfull{
    position: absolute;
    bottom: 70px;
    right: 15px;
    display: none;
}
.chatmarco {
    border: 35px solid;
    border-image: url("img/marco.png");
    border-image-slice: 50;
    border-image-repeat: round;
    background: rgb(30 26 25 / 60%);
    border-radius: 29px;
}
.mostrar{
    display: block !important;
}